.offer-description {
  position: relative;
  display: grid;

  margin-top: 62px;

  &__toggle {
    display: none;
  }

  &__content {
    display: grid;
    margin-top: 17px;

    p {
      margin: 0;
      font-family: "Lato", serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
      color: var(--true-white);
      opacity: 60%;
      margin-bottom: 8px;
    }

    p:last-of-type {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  }

  &__toggle:checked ~ .offer-description__content p:last-of-type {
    max-height: 300px;
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    color: var(--acid-yellow);
    background-color: transparent;
    border: none;

    font-family: "Lato", serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 1247px) {
  .offer-description {
    &__content {
      p {
        font-size: 16px;
        line-height: 19.2px;
      }
    }

    &__button {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .offer-description {
    &__content {
      p {
        font-size: 14px;
        line-height: 16.8px;
      }
    }

    &__button {
      font-size: 14px;
      line-height: 16.8px;
    }
  }
}
