:root {
  --true-black: #000000;
  --true-white: #ffffff;
  --barbie-pink: #ff70d9;
  --acid-yellow: #ebff00;
  --space-blue: #304571;

  --desktop-width: 1248px;
  --tablet-width: 768px;
  --mobile-width: 360px;

  --max-content-width: var(--desktop-width);
}

@media (min-width: var(--desktop-width)) {
  :root {
    --max-content-width: var(--desktop-width);
  }
}

@media (min-width: var(--tablet-width)) {
  :root {
    --max-content-width: var(--tablet-width);
  }
}

@media (min-width: var(--mobile-width)) {
  :root {
    --max-content-width: var(--mobile-width);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--space-blue);
}

body {
  margin: 0;
}

#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  grid-template-rows: 1fr 127px;
}

.main-content {
  padding: 58px 80px 60px 80px;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-width);
}

h2 {
  font-family: "Lato", serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0px;
  color: var(--true-white);
  margin: 0px;
}
